# dependencies
/node_modules
/dist

# production
/build
/storybook-static

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
tailwind.css

# typescript
*.tsbuildinfo
next-env.d.ts